.plugo-img {
	position: absolute;
	top: 5rem;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.plugo-caption {
	position: absolute;
	top: 8.75rem;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 11.5rem;
	height: 5.312rem;
	color: var(--secondary);
	font-family: NunitoBold;
}

.video-play-img {
	position: absolute;
	top: 16.5rem;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.component2-label1 {
	color: var(--blue);
	font-family: NunitoRegular;
	font-size: 0.75rem;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}

.component2-heading {
	color: var(--magenta);
	font-family: NunitoBold;
	font-size: 2.25rem;
	text-transform: capitalize;
}

.card {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.card-body {
	padding-left: 0;
}

.h-seg {
	width: 1.5rem;
	border: solid 1px;
}

.card-subtext {
	color: var(--gray);
	font-family: NunitoLight;
	font-size: 0.75rem;
	letter-spacing: 0.2em;
	position: absolute;
	top: 1rem;
	left: 3rem;
}

.card-text {
	font-family: NunitoBold;
	font-size: 1.5rem;
	position: absolute;
	top: 2rem;
	left: 3rem;
}

.card-img {
	width: 6.125rem;
	height: 6.125rem;
	margin-left: 8rem;
}

.carousel-indicators {
	bottom: -3.25rem;
}

.carousel-indicators .active {
	background-color: var(--black);
}

.carousel-indicators li {
	width: 6px;
	height: 6px;
	margin-right: 0.625rem;
	border-radius: 100%;
	background-color: var(--gray);
}

.more-thumbnail-imgs {
	width: 3.125rem;
	height: 3.125rem;
}

.open-modal-btn {
	border-radius: 2.062rem;
	font-family: NunitoBold;
	font-size: 1rem;
	position: absolute;
	right: 1rem;
}

.form-check {
	flex: 1;
}

input[type='radio']:after {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 15px;
	top: -4px;
	left: -1px;
	position: relative;
	background: url(/assets/images/radio-false.svg) no-repeat;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:checked:after {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 15px;
	top: -4px;
	left: -1px;
	position: relative;
	background: url(/assets/images/radio-true.svg) no-repeat;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

.price {
	color: var(--primary);
	font-family: NunitoBold;
	font-size: 1.125rem;
}

.cart-btn {
	width: 8rem;
	border-radius: 2.062rem;
	font-family: NunitoBold;
	font-size: 1.125rem;
}
