.plugo-img {
	position: absolute;
	top: 5rem;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.plugo-caption {
	position: absolute;
	top: 8.75rem;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 11.5rem;
	height: 5.312rem;
	color: var(--secondary);
	font-family: NunitoBold;
	line-height: 1.875rem;
}

.video-play-img {
	position: absolute;
	top: 16.5rem;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.component2-label1 {
	color: var(--blue);
	font-family: NunitoRegular;
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.5em;
	text-transform: uppercase;
}

.component2-heading {
	color: var(--magenta);
	font-family: NunitoBold;
	font-size: 2.25rem;
	text-transform: capitalize;
}
