.carousel-indicators {
	bottom: -3.25rem;
}

.carousel-indicators .active {
	background-color: var(--black);
}

.carousel-indicators li {
	width: 6px;
	height: 6px;
	margin-right: 0.625rem;
	border-radius: 100%;
	background-color: var(--gray);
}

li {
	line-height: 6.25vw;
}

.more-thumbnail-imgs {
	width: 3.125rem;
	height: 3.125rem;
}

.img-overlay-text {
	color: var(--secondary);
	position: relative;
	right: 2rem;
}

.open-modal-btn {
	border-radius: 2.062rem;
	font-family: NunitoBold;
	font-size: 4.167vw;
	position: absolute;
	right: 1rem;
}

.form-check {
	flex: 1;
}

input[type='radio']:after {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 15px;
	top: -4px;
	left: -1px;
	position: relative;
	background: url(/assets/images/radio-false.svg) no-repeat;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:checked:after {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 15px;
	top: -4px;
	left: -1px;
	position: relative;
	background: url(/assets/images/radio-true.svg) no-repeat;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

.price {
	color: var(--primary);
	font-family: NunitoBold;
	font-size: 5vw;
	line-height: 8.056vw;
}

span {
	line-height: 6.25vw;
}

.cart-btn {
	width: 38vw;
	border-radius: 2.062rem;
	font-family: NunitoBold;
	font-size: 5vw;
}
