.modal-content {
	border-radius: 1.812rem;
}

.modal-header {
	border-bottom: none;
	font-family: NunitoBold;
	font-size: 1.125rem;
}

.tab-header {
	width: -webkit-fill-available;
}

a {
	color: var(--black);
}

.nav-tabs .nav-link {
	border: none;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
	color: var(--red);
	border-bottom: solid 3px var(--red);
	box-shadow: none;
}

.modal-body {
	height: 32.125rem;
	overflow-y: auto;
}

.mb-heading {
	color: var(--black);
	font-family: NunitoBold;
	font-size: 1rem;
}

.mb-text {
	color: var(--gray);
	font-family: NunitoRegular;
	font-size: 1rem;
}

.modal-ul {
	padding-inline-start: 1rem;
	list-style-image: url(/assets/images/ul-disc-red.svg);
}

.modal-img {
	padding-right: 1rem;
	margin-bottom: 0.812rem;
}

.modal-ol {
	padding-inline-start: 1rem;
}

.modal-footer {
	border-top: none;
}

.btn-link {
	text-decoration: underline;
}
